<h1>Nearby Stations:</h1>

<div class="stations">
	<% @stations.each do |station| %>
		<div class="station">
			<div class="station-name"><%= station.name %></div>
			<div class="station-address"><%= station.address %></div>
			<div class="station-fuel-types"><%= station.fuel_types %></div>
			<div class="station-distance"><%= station.distance %></div>
			<div class="station-access-time"><%= station.access_time %></div>
		</div>
		<br>
	<%end%>
</div>
